@font-face {
    font-family: bold;
    src: url(../fonts/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: medium;
    src: url(../fonts/Poppins-MediumItalic.ttf);
}
@font-face {
    font-family: "regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "semi-bold";
    src: url(../fonts/Poppins-SemiBoldItalic.ttf);
}
:root{
    --primary-color: #642327;
    --secondary-color: #626161;
    --tertiary-color: #f9caca;
    --natural-color: #ffffff;

    --font-bold: 'bold';
    --font-semibold: 'semibold';
    --font-medium: 'medium';
    --font-regular: 'regular';
}
